@media screen and (max-width: 700px) {
    
    header .primary-navigation{
        display: none;
    }

    header .dropdown {
        display: block;
    }

    .botao {
        margin-top: 5px;
        width: 300px;
    }
}

